################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyFirCorPro.Base/bin/Debug/netstandard1.6/MyFirCorPro.DataLibrary.pdb
/MyFirCorPro.Base/bin/Debug/netstandard1.6/MyFirCorPro.DataLibrary.dll
/MyFirCorPro.Base/bin/Debug/netstandard1.6/MyFirCorPro.Base.pdb
/MyFirCorPro.Base/bin/Debug/netstandard1.6/MyFirCorPro.Base.dll
/MyFirCorPro.DataLibrary/bin/Debug/netstandard1.6/MyFirCorPro.DataLibrary.pdb
/MyFirCorPro.DataLibrary/bin/Debug/netstandard1.6/MyFirCorPro.DataLibrary.dll
/MyFirCorPro.Web/bin/Debug/netcoreapp1.0/MyFirCorPro.Web.pdb
/MyFirCorPro.Web/bin/Debug/netcoreapp1.0/MyFirCorPro.Web.dll
/MyFirCorPro.Web/bin/Debug/netcoreapp1.0/MyFirCorPro.DataLibrary.pdb
/MyFirCorPro.Web/bin/Debug/netcoreapp1.0/MyFirCorPro.DataLibrary.dll
/MyFirCorPro.Web/bin/Debug/netcoreapp1.0/MyFirCorPro.Base.pdb
/MyFirCorPro.Web/bin/Debug/netcoreapp1.0/MyFirCorPro.Base.dll
/MyFirCorPro.Base/bin/Debug/netstandard1.6/MyFirCorPro.Models.pdb
/MyFirCorPro.Base/bin/Debug/netstandard1.6/MyFirCorPro.Models.dll
/MyFirCorPro.DataLibrary/bin/Debug/netstandard1.6/MyFirCorPro.Models.pdb
/MyFirCorPro.DataLibrary/bin/Debug/netstandard1.6/MyFirCorPro.Models.dll
/MyFirCorPro.Models/bin/Debug/netstandard1.6/MyFirCorPro.Models.pdb
/MyFirCorPro.Models/bin/Debug/netstandard1.6/MyFirCorPro.Models.dll
/MyFirCorPro.Web/bin/Debug/netcoreapp1.0/MyFirCorPro.Models.pdb
/MyFirCorPro.Web/bin/Debug/netcoreapp1.0/MyFirCorPro.Models.dll
/MyFirCorPro.Base/bin/Debug/netstandard1.6/MyFirCorPro.InterfaceDataLibrary.pdb
/MyFirCorPro.Base/bin/Debug/netstandard1.6/MyFirCorPro.InterfaceDataLibrary.dll
/MyFirCorPro.DataLibrary/bin/Debug/netstandard1.6/MyFirCorPro.InterfaceDataLibrary.pdb
/MyFirCorPro.DataLibrary/bin/Debug/netstandard1.6/MyFirCorPro.InterfaceDataLibrary.dll
/MyFirCorPro.InterfaceDataLibrary/bin/Debug/netstandard1.6/MyFirCorPro.InterfaceDataLibrary.pdb
/MyFirCorPro.InterfaceDataLibrary/bin/Debug/netstandard1.6/MyFirCorPro.InterfaceDataLibrary.dll
/MyFirCorPro.Web/bin/Debug/netcoreapp1.0/MyFirCorPro.InterfaceDataLibrary.pdb
/MyFirCorPro.Web/bin/Debug/netcoreapp1.0/MyFirCorPro.InterfaceDataLibrary.dll
/MyFirCorPro.Base/obj/Debug/netstandard1.6/MyFirCorPro.Base.csprojResolveAssemblyReference.cache
/MyFirCorPro.Base/obj/Debug/netstandard1.6/MyFirCorPro.Base.csprojResolveAssemblyReference.cache
